<% if notice %>
  <div class="p-4 rounded bg-green-100 text-green-800 mb-3"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="p-4 rounded bg-red-100 text-red-800 mb-3"><%= alert %></div>
<% end %>
